<ul class="list-group">
    <li class="list-group" >

        <div ng-if="tarefa.concluido && tarefa.editar" class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Nome da Tarefa" ng-model="tarefa.nome" name="user" id="user" autofocus>
            <a ng-click="atualizarTarefa(tarefa)"  title="Salvar Tarefa">
                <img height="30" src="/images/save.svg">  
            </a>
        </div>

        <label ng-if="tarefa.concluido && !tarefa.editar" class="list-group-item list-group-item-success"><input ng-model='tarefa.concluido' ng-change="atualizarTarefa(tarefa)" type="checkbox"> {{tarefa.nome}}
        </label>
    </li>
  </ul>