.margin-home {
    margin: 20px;
}
.project-card{
    width: 366px;
    margin: 10px;
}
.project-jumb{
    position: relative
}
.project-card-repeat{
    width: 366px;
    margin: 10px;
    min-height: 310px;
    background-color: rgb(206, 216, 219);
}
.atalhos-card{
    display: block;
}
.adicionar-tarefa { 
    margin-top: 30px;
    padding-bottom: 30px;
} 