<body>
    <task-nav></task-nav>
    <painel-mensagens></painel-mensagens>
    <main class="margin-home row">
        <section class= "row">
            <div ng-repeat="projeto in projetos">
                <projeto-card dados="projeto"></projeto-card>
            </div>
                
                <section class="project-card">
                    <div class="jumbotron">
                        <h2 class="d-flex justify-content-center">Criar um novo projeto</h5>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" placeholder="Nome do projeto" ng-model="projeto.nome" name="nome" id="nome" required autofocus ng-maxlength="70">
                        </div>
                        <br>
                        <p class="lead d-flex justify-content-center">
                          <a class="btn btn-info btn-lg col-md-12" ng-click="criarProjeto()" role="button">Criar Projeto</a>
                        </p>
                        </div>
                </section>   


        </section>
    
    </main>
</body>